[submodule ".submodules/yandex_smart_home"]
	path = .submodules/yandex_smart_home
	url = https://github.com/dmitry-k/yandex_smart_home.git
[submodule ".submodules/YandexStation"]
	path = .submodules/YandexStation
	url = https://github.com/AlexxIT/YandexStation.git
[submodule ".submodules/MorphNumbers"]
	path = .submodules/MorphNumbers
	url = https://github.com/AlexxIT/MorphNumbers.git
[submodule ".submodules/adaptive-lighting"]
	path = .submodules/adaptive-lighting
	url = https://github.com/basnijholt/adaptive-lighting.git
[submodule ".submodules/ytube_music_player"]
	path = .submodules/ytube_music_player
	url = https://github.com/KoljaWindeler/ytube_music_player.git
[submodule ".submodules/ha_mosportal"]
	path = .submodules/ha_mosportal
	url = https://github.com/kkuryshev/ha_mosportal.git
