[submodule ".submodules/yandex_smart_home"]
	path = .submodules/yandex_smart_home
	url = https://github.com/dmitry-k/yandex_smart_home.git
[submodule ".submodules/YandexStation"]
	path = .submodules/YandexStation
	url = https://github.com/AlexxIT/YandexStation.git
[submodule ".submodules/MorphNumbers"]
	path = .submodules/MorphNumbers
	url = https://github.com/AlexxIT/MorphNumbers.git
[submodule ".submodules/adaptive-lighting"]
	path = .submodules/adaptive-lighting
	url = https://github.com/basnijholt/adaptive-lighting.git
[submodule ".submodules/ytube_music_player"]
	path = .submodules/ytube_music_player
	url = https://github.com/KoljaWindeler/ytube_music_player.git
[submodule ".submodules/hass-moscow-pgu"]
	path = .submodules/hass-moscow-pgu
	url = https://github.com/alryaz/hass-moscow-pgu.git
[submodule ".submodules/zha-network-card"]
	path = .submodules/zha-network-card
	url = https://github.com/dmulcahey/zha-network-card.git
[submodule ".submodules/hass-music-assistant"]
	path = .submodules/hass-music-assistant
	url = https://github.com/music-assistant/hass-music-assistant.git
[submodule ".submodules/SonoffLAN"]
	path = .submodules/SonoffLAN
	url = https://github.com/AlexxIT/SonoffLAN.git
[submodule ".submodules/xbee_humidifier"]
	path = .submodules/xbee_humidifier
	url = git@github.com:Shulyaka/xbee_humidifier.git
[submodule ".submodules/hassio-r4s"]
	path = .submodules/hassio-r4s
	url = https://github.com/XNicON/hassio-r4s.git
[submodule ".submodules/HA-YandexWeather"]
	path = .submodules/HA-YandexWeather
	url = https://github.com/IATkachenko/HA-YandexWeather.git
